body {
  background-color: black;
}

#sigma-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#commands-container {
  top: 10px;
  /*bottom: 10px;*/
  left: 10px;
  position: absolute;
  width: 100%;
  max-height: 50%;
  background-color: transparent;
  /*  background-color: orange; /*rgb(100, 100, 100)*/
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: auto;
  padding: 0 5px;
  pointer-events: auto;
}
#commands-container > div {
  margin: 10px;
  overflow: auto;
}

#content {
  pointer-events: true;
}

#plot-container {
  bottom: 5px;
  /*bottom: 10px;*/
  right: 5px;
  position: absolute;
  max-height: 50%;
  max-width: 100%;
  /*height: 250px;*/
  /*height: 300px;*/
  /*background-color: orange;*/
  background-color: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#plot-container > div {
  /*  margin: 10px;*/
  overflow-x: auto;
}

#range {
  display: inline-block;
  width: 100%;
  height: 10px;
}

.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: 0.5;
}

.collapsible {
  background-color: #ddd;
  color: #111;
}

.content {
  /*padding: 0 18px;*/
  max-height: 30;
  transition: max-height 0.2s ease-out;
  display: none;
  overflow: auto;
}
