body {
  background-color: white;
}

#sigma-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: black;
}

#commands-container {
  position: relative;
  width: 100%;
  /* max-height: 60%; */
  background-color: rgba(0, 0, 0, 0.6);
  /* pointer-events: auto; */
  scroll-behavior: auto;
  /* margin: 1px; */
  /* overflow: auto; */
}
#commands-container > div {
  margin: 5px;
  overflow: auto;
  text-align: center;
}

#content {
  pointer-events: true;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

#plot-container {
  /* top: 50%; */
  bottom: 1px;
  right: 1px;
  position: absolute;
  resize: both;
  overflow: auto;
  max-width: 100%;
  width: 33%;
  background-color: rgba(0, 0, 0, 0.8);
}
#plot-container > div {
  /*  margin: 10px;*/
  overflow-x: auto;
  overflow-y: auto;
}

#range {
  display: inline-block;
  width: 99%;
  height: 10px;
}

.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: 0.5;
}

.collapsible {
  background-color: rgba(220, 220, 220, 0.8);
  color: #111;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.collapsible:hover {
  background-color: #fff;
  color: black;
}

.content {
  max-height: 30;
  transition: max-height 0.2s ease-out;
  display: none;
  overflow: auto;
}

#WeekSelect {
  width: 130px;
}
