body {
  background-color: black;
}

#sigma-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: black;
}

#commands-container {
  position: relative;
  width: 100%;
  /* max-height: 60%; */
  background-color: transparent;
  pointer-events: auto;
  scroll-behavior: auto;
  margin: 1px;
}
#commands-container > div {
  margin: 5px;
  overflow: auto;
  text-align: center;
}

#content {
  pointer-events: true;
  position: relative;
  top: 10px;
  right: 0px;
}

#plot-container {
  /* top: 50%; */
  bottom: 1px;
  right: 1px;
  position: absolute;
  resize: both;
  overflow: auto;
  max-width: 100%;
  width: 33%;
  background-color: transparent;
}
#plot-container > div {
  /*  margin: 10px;*/
  overflow-x: auto;
  overflow-y: auto;
}

#range {
  display: inline-block;
  width: 100%;
  height: 10px;
}

.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: 0.5;
}

.collapsible {
  background-color: #ddd;
  color: #111;
}

.content {
  /*padding: 0 18px;*/
  max-height: 30;
  transition: max-height 0.2s ease-out;
  display: none;
  overflow: auto;
}
